* {
    box-sizing: border-box;
}

body {
    /* padding: 0;
    margin: 0; */
    height: 100vh;
    width: 100%;
    background: rgb(242, 21, 21);
    background: linear-gradient(45deg, rgba(242, 21, 21, 1) 18%, rgba(204, 0, 255, 1) 100%);
}

.main-container {
    height: 35rem;
    background-color: white;
    width: 24rem;
    position: relative;
    top: calc((100vh - 35rem) / 2);
    left: calc((100% - 24rem) / 2);
    border-radius: 10px;
    /* opacity: 0.6; */
    box-shadow: -1px 1px 12px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 1px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 12px 0px rgba(0, 0, 0, 0.75);
}

.status {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 5rem;
    cursor: pointer;
}

.status h1 {
    color: #e10c80;
    font-weight: 800;
}

.hoverr {
    width: 50%;
    height: 100%;
    /* text-align: center; */
}

.hoverr:hover {
    background-color: #e780b9;
}

.addBtn {
    height: 4.2rem;
    width: 4.2rem;
    color: #e10c80;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    font-size: 2.5rem;
    /* top: -500px; */
    left: calc((100% - 4.2rem) / 2);

    cursor: pointer;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);

}

.addBtn i {
    position: relative;
    top: calc((100% - 2.5rem) / 2);
}

.task-container {
    height: calc(100% - (5rem + 2rem));

}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.cross {
    cursor: pointer;
    color: #e10c80;
    font-size: 1.5rem;
}

.task {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
}

input[type=checkbox] {
    transform: scale(2);
}

.task-desc {
    width: 80%;
    height: 2rem;
    font-size: 18px;
    padding: 5px;
    color: #6b6b6b;
    border: 2px solid #000;
}

.task-input {
    position: absolute;
    backdrop-filter: blur(100px);
    top: calc((100vh - 8rem) / 2);
    left: calc((100vw - 23rem) / 2);

    box-shadow: -1px 1px 47px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 1px 47px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 47px 0px rgba(0, 0, 0, 0.75);
}

.input {
    height: 8rem;
    width: 23rem;
    border-radius: 10px;
    font-size: 18px;
    background-color: #ffffff;
    border: none;
    padding: 10px;
    display: none;
}